.header {
    width: 100%;
    height: 8%;
}

.header_text_list {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    list-style: none;
}

.header_text_list > * {
    cursor: pointer;
    font-size: var(--big-text);
    color: var(--ghost-white);
    background: radial-gradient(var(--amaranth-purple) 0%, var(--redwood) 100%);
    text-shadow: 3px 3px var(--smoky-black);
    padding: 15px 19px;
    border-radius: 10px;
}

.header_text_list > * > a {
    font-size: var(--big-text);
    color: var(--ghost-white);
    text-shadow: 3px 3px var(--smoky-black);
    text-decoration: none !important;
}

.header_text_list > * > img {
    filter: drop-shadow(3px 3px var(--smoky-black)); 
}