
.challange {
    display: grid;
    flex-direction: column;
    font-size: var(--medium-text);
    margin: 3%;
}

.challange_description {
    width: fit-content;
    background-color: var(--ghost-white);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--wine);
}

.challange_code_container {
    margin-top: 5%;
    width: fit-content;
    background-color: var(--ghost-white);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--wine);
}

.challange_code {
    font-family: inherit;
}

.challange_answer {
    justify-self: center;
    font-size: var(--big-text);
    margin-top: 5%;
    width: fit-content;
    background-color: var(--ghost-white);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--wine);
}